body {
  font-family: sans-serif;
}

.content {
  width: 1140px;
  margin: 15px auto;
}

.staff {
  min-height: 50px;
  width: 300px;
  margin: 15px 0;
  background-color: whitesmoke;
  padding: 15px;
}

.staff li{
  list-style-type: none;
}
